<nav class="ui menu">
  <header class="ui header item"> BEMS IOT </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="viewer" class="item" href="/viewer"> Viewer </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
