<table class="ui striped table">
  <thead>
    <tr>
      <th> Sensor </th>
      <th> Target temperature [&#176;C]</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each checkData}}
      {{#each this.thresholds}}
        <tr>
            <td>{{../this.name}}</td>
            <td>{{this.value}}</td>
            <td></td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>

