<table class="ui striped table">
  <thead>
    <tr>
      <th> Sensor </th>
      <th> Target temperature [&#176;C]</th>
    </tr>
  </thead>
  <tbody>
    {{#each checkData}}
      {{#each this.thresholds}}
        <tr>
            <td>{{../this.name}}</td>
            <td>
              <form class="ui form" id="update-temperature-form" action="" method="POST">
                <div class="fields">
                    <div class="four wide field">
                      <input value={{this.value}} type="number" step="1" required="true">
                    </div>
                    <button class="ui green submit button">Update</button>
                </div>
              </form>
            </td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>

