<nav class="ui huge inverted menu" style="position:relative; z-index:999">
  <header class="ui header item"> <a href="/"> BEMS IoT </a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>