{{> menu id="dashboard"}}

<section class="ui segment">
  <h1 class="ui header"> Sensor data </h1>
  {{> trend-charts humidityData=humidityData }}

  <h1 class="ui header"> Temperature targets </h1>
  {{> targets-table checkData=checkData }}

  <h1 class="ui header"> Weather forecast - 5 days </h1>
  <p>The lowest of {{minTemp}} &#176;C on {{minTempDate}}. {{heatingSuggestion}}</p>
  {{> forecast-chart }}

</section>




