{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to BEMS IoT!
  </h1>
  <h2 class="ui header">
    Building Environmental Monitoring System
  </h2>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Know how hot you are at any time, any room!</h3>
        <p>
          Temperature and humidity monitoring devices built around Raspberry Pi Pico will let you keep an eye
          on the atmosphere in your house or office building. Minimize your heating expenses, increase your comfort!
        </p>
        <h3 class="ui header">Join BEMS-IoT Today!</h3>
        <p>
          View real-time temperature and humidity from monitoring sensors placed throughout the building.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="images/robot-reading-temperature.jpg" class="ui large rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge green button" href="/signup">Sign Up</a>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="row">
      <div class="sixteen wide column">
        <h1 class="ui header">
          Connect your house to the cloud!
        </h1>
        <h3 class="ui header">Access your data anywhere!</h3>
        <p>
          Check the latest readings at a glance from any web browsing device connected to the Internet.
          The hub device is collecting the data from peripheral sensors and streams the data up to the cloud.
        </p>
        <img src="images/bems-iot-connectivity-illustration.jpg" class="ui fluid rounded image">
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
    <div class="row">
      <div class="sixteen wide column">
        <h1 class="ui header">
          Enter the world of digital twins
        </h1>
        <h3 class="ui header">View your data in a 3D environment</h3>
        <p>
          Do not wonder anymore where the sensor is located and interpret the data easily thanks to the real time rendered
          3D view with the monitoring sensors data overlay.
        </p>
        <img src="images/robot-vr-building-3dmodel.jpg" class="ui fluid rounded image">
      </div>
    </div>
  </div>
</section>