<head>
    <link rel="stylesheet" type="text/css" href="/css/viewer.css" />
</head>

{{> menu id="viewer"}}

<section class="ui segment" id="viewer-container" style="height:90vh">
    <script type="importmap">
        {
            "imports": {
            "three": "https://unpkg.com/three@0.147/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.147/examples/jsm/"
            }
        }
    </script>
    <script type="module" src="js/viewer.js"></script>

    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>
        // Globally initializes an mqtt variable
        console.log(mqtt)
    </script>
    <script type="module" src="js/mqttClient.js"></script>
</section>